.menu {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #888;
}
