$bg-color: #fff;
$main-color: #97a2a6;
$radio-bordes: 20px;
$fondo-color: #2ced11, #f11b0d, #ef0fe2, #11eedc, #e5ee11, #888377, #f0960e;
$font-sizes: (
        h1: 2.3rem,
        h2: 2.2rem,
        h3: 2rem,
        h4: 1.5rem,
        h5: 1.25rem,
        h6: 1rem
);
$breakpoint: (
        mobile: 650px,
        tablet: 768px,
        desktop: 992px
);

$body-color: #fff;
